{% extends 'manager/base/base-manager.html' %}
{% load humanize %}

{% block browser_title %}لیست شارژها{% endblock %}
{% block page_title %}لیست شارژها{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title float-left">لیست شارژها</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>توضیحات</th>
                            <th>مبلغ</th>
                            <th>دسته بندی</th>
                            <th>تاریخ انقضا</th>
                            <th>جزِییات</th>
                            <th>ویرایش</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for charge in object_list %}
                            <tr>
                                <td>{{ charge.title }}</td>
                                <td>{{ charge.description|truncatewords:3 }}</td>
                                <td>{{ charge.amount|intcomma:False }}</td>
                                <td>{{ charge.get_categories|truncatewords:2 }}</td>
                                <td>{{ charge.expire_time }}</td>
                                <td><a href="{% url 'building_app_manager:charge_status' charge.pk %}"
                                       class="btn btn-success btn-block">جزییات</a></td>
                                <td><a href="{% url 'building_app_manager:update_charge' charge.pk %}"
                                       class="btn btn-primary btn-block">ویرایش</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>عنوان</th>
                            <th>توضیحات</th>
                            <th>مبلغ</th>
                            <th>دسته بندی</th>
                            <th>تاریخ انقضا</th>
                            <th>جزِییات</th>
                            <th>ویرایش</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">

                            {% if page_obj.has_previous %}
                            <li class="paginate_button page-item previous">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">قبلی</a>
                            </li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                            <li class="paginate_button page-item {% if page == page_obj.number %}active{% endif %}">
                                <a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">بعدی</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}">قبلی</a></li>
{% endif %}


{% for page in paginator.page_range %}
    <li class="{% if page == page_obj.number %}active{% endif %}"><a
            href="?page={{ page }}">{{ page }}</a></li>
{% endfor %}

{% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}">بعدی</a></li>
{% endif %}