{% extends 'manager/base/base-manager.html' %}
{% load humanize %}

{% block browser_title %}درخواست های پرداخت{% endblock %}
{% block page_title %}درخواست های پرداخت{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title float-left">لیست درخواست های پرداخت</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>شماره شبا</th>
                            <th>مبلغ</th>
                            <th>وضعیت پرداخت</th>
                            <th>زمان پرداخت</th>
                            <th>زمان درخواست</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request_pay in object_list %}
                            <tr>
                                <td>{{ request_pay.sheba_number }}</td>
                                <td>{{ request_pay.amount|intcomma:False }}</td>

                                <td>
                                    {% if request_pay.paid %}
                                        پرداخت شده
                                    {% else %}
                                        پرداخت نشده
                                    {% endif %}
                                </td>

                                <td>
                                    {% if request_pay.pay_time %}
                                        {{ request_pay.pay_time|naturaltime }}
                                    {% else %}
                                        ---
                                    {% endif %}
                                </td>

                                <td>{{ request_pay.request_time|naturaltime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>شماره شبا</th>
                            <th>مبلغ</th>
                            <th>وضعیت پرداخت</th>
                            <th>زمان پرداخت</th>
                            <th>زمان درخواست</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">

                            {% if page_obj.has_previous %}
                            <li class="paginate_button page-item previous">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">قبلی</a>
                            </li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                            <li class="paginate_button page-item {% if page == page_obj.number %}active{% endif %}">
                                <a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">بعدی</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}