{% extends 'manager/base/base-manager.html' %}
{% load static %}

{% block browser_title %}استعفا{% endblock %}
{% block page_title %}استعفا از مدیریت{% endblock %}

{% block content %}
    <!-- response massage -->
    <div id="alert"></div>


    <div class="card">
        <div class="card-header card-danger">
            <h5 class="card-title m-0 float-left">استعفا از مدیریت ساختمان</h5>
        </div>
        <div class="card-body">
            <p class="card-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
            <a type="button" class="btn btn-danger text-white" data-toggle="modal" data-target="#exampleModalCenter">
                استعفا
            </a>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">آیا از استعفای خود مطمین هستید؟</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    آیا از استعفای خود مطمین هستید؟
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-secondary text-white" data-dismiss="modal">بازگشت</a>
                    <a type="button" class="btn btn-danger text-white" onclick="resignManager('{{ csrf_token }}')">استعفا
                        میدهم</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js_file %}
    <script src={% static "adminLTE/dist/js/custom.js" %}></script>
{% endblock %}