{% extends 'manager/base/base-manager.html' %}
{% load crispy_forms_tags %}

{% block browser_title %}ویرایش اعلان{% endblock %}
{% block page_title %}ویرایش اعلان{% endblock %}

{% block content %}
<div class="col-md-6">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">ویرایش اعلان</h3>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">

                <div class="form-group">
                    {{ form|crispy }}
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">ویرایش</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}