{% extends 'base_panel/resident/base-resident.html' %}
{% load static %}
{% load humanize %}


{% block browser_title %}اعلانات{% endblock %}
{% block page_title %}اعلانات{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    {{ object.title }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ object.description|safe }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3>نظرات</h3>
                </div>
                <div class="card-body">
                    <form action="{% url 'notification_app_resident:notification_comment' %}" method="post"
                          id="comment-form">
                        {% csrf_token %}
                        <input type="hidden" id="notifi-id" value="{{object.id}}">
                        <textarea name="comment" id="comment-text" type="text" class="form-control"
                                  placeholder="افزودن نظر" required></textarea>
                        <br>
                        <button id="submit-comment" type="submit" class="btn btn-success">ثبت</button>
                    </form>
                    <hr>
                    <div class="row">
                        {% if comments %}
                            <div class="col-sm-12">
                                <div id="comment-list"></div>
                                {% for comment in comments %}
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="">{{ comment.unit }}</h5>
                                            <p class="card-text">{{ comment.text }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="">هنوز برای این اعلان، نظری ثبت نشده!</h5>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js_file %}
    <script src="{% static 'custom/js/notification_comment.js' %}"></script>
{% endblock %}