{% extends 'base_panel/manager/base-manager.html' %}
{% load humanize %}

{% block browser_title %}وضعیت شارژ{% endblock %}
{% block page_title %}وضعیت شارژ {{ charge_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">پرداختی شده</span>
                            <span class="info-box-number">{{ sum_paid}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">پرداخت های آنلاین</span>
                            <span class="info-box-number">{{ sum_online_paid}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">پرداخت های آفلاین</span>
                            <span class="info-box-number">{{ sum_offline_paid }}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">پرداخت نشده</span>
                            <span class="info-box-number">{{ sum_unpaid}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title float-left">لیست وضعیت شارژها</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered table-hover dataTable">
                                <thead>
                                <tr>
                                    <th>واحد</th>
                                    <th>مبلغ</th>
                                    <th>وضعیت پرداخت</th>
                                    <th>تاریخ پرداخت</th>
                                    <th>نوع پرداخت</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for status in status_list %}
                                    <tr>
                                        <td>{{ status.unit }}</td>
                                        <td>{{ status.amount|intcomma:False }}</td>
                                        <td>
                                            {{ status.get_verbose_status }}
                                        </td>
                                        <td>
                                            {% if status.pay_time is None %}
                                                ---
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if status.payment_type is None %}
                                                ---
                                            {% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>واحد</th>
                                    <th>مبلغ</th>
                                    <th>وضعیت پرداخت</th>
                                    <th>تاریخ پرداخت</th>
                                    <th>نوع پرداخت</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}