{% extends 'base_form/base.html' %}
{% load static %}

{% block title %}ورود با رمز عبور
{% endblock %}

{% block content %}
    <div class="wrap-login100">

        <!-- input form -->
        <form method="post" class="login100-form validate-form">
            {% csrf_token %}
            <span class="login100-form-title">ورود با رمز عبور</span>

            <!-- inputs-->
            <div class="wrap-input100 validate-input" data-validate="لطفا رمز عبور خود را وارد کنید!">
                {{ form.password }}

                <span class="focus-input100"></span>
                <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
            </div>
            <!-- / inputs -->

            <!-- errors -->
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <p class="text-danger rtl txt2">{{ error }}</p>
                {% endfor %}
            {% endif %}
            <!-- / errors -->

            <!-- login button -->
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">ورود</button>
            </div>
            <!-- / login button -->

            <!-- otp login -->
            <div class="text-center p-t-136">
                <a class="txt2" href="{% url 'account_app_login:set_otp' %}">
                    ورود با رمز یکبار مصرف
                </a>
            </div>
            <!-- / otp login -->

        </form>
        <!-- / input form -->

        <!-- form image -->
        <div class="login100-pic js-tilt" data-tilt>
            <img src="{% static 'Login/pics/img-01.png' %}" alt="IMG">
        </div>
        <!-- / form image -->

    </div>
{% endblock %}