{% extends 'base_panel/manager/base-manager.html' %}
{% load humanize %}

{% block browser_title %}اعلانات{% endblock %}
{% block page_title %}اعلانات{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title float-left">لیست اعلانات</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                        <tr>
                            <th>عنوان</th>
                            <th>توضیحات</th>
                            <th>ویرایش</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for notification in object_list %}
                            <tr>
                                <td>{{ notification.title }}</td>
                                <td>{{ notification.description|truncatewords:3|safe }}</td>
                                <td><a href="{% url 'notification_app_manager:update_notification' notification.pk %}"
                                       class="btn btn-primary">ویرایش</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>عنوان</th>
                            <th>توضیحات</th>
                            <th>ویرایش</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">

                            {% if page_obj.has_previous %}
                            <li class="paginate_button page-item previous">
                                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">قبلی</a>
                            </li>
                            {% endif %}

                            {% for page in paginator.page_range %}
                            <li class="paginate_button page-item {% if page == page_obj.number %}active{% endif %}">
                                <a href="?page={{ page }}" class="page-link">{{ page }}</a></li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="paginate_button page-item next">
                                <a href="?page={{ page_obj.next_page_number }}" class="page-link">بعدی</a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}